/*-----colors--------------------------

hunter gr	#4b7648		R  25	G  18	B  72
pink		#f687a8		R 246	G 135	B 168
red			#eb1f1e		R 235	G  31	B  30
lime gr		#bdd259		R 189	G 210	B  89
orange		#f59d55		R 245	G 157 	B  85
lt blue		#cce0e7		R 204	G 224	B 231
black		#000000


-------------------------------------------*/

/*font-family: 'News Cycle', sans-serif;

font-family: 'Mystery Quest', cursive;*/



body{
	background: -webkit-linear-gradient(left top, #4b7648, #f687a8); 
	background: -o-linear-gradient(bottom right, #4b7648, #f687a8); 
	background: -moz-linear-gradient(bottom right, #4b7648, #f687a8); 
	background: linear-gradient(to bottom right, #4b7648, #f687a8); 
	background-repeat: none;	
}

#wrapper{
	width: 92%;
	margin: 0 auto;
}

	
#header{
	background-color: #f59d55;  /*--orange---*/
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
}

fieldset{
	background-color: #bdd259; /*--lime green--*/
	border-radius: 10px;
	width: 13.333333333333%;
	float: right;
	clear: left;
	margin: 4%;
	padding: 2%;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
}

input:focus{
	background: #e6d99a;
}

aside{
	background-color: #cce0e7;
	color: #4b7648;
	padding: 1% 2%;
	overflow: hidden;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
}

aside p{
	font-family: 'Mystery Quest', cursive;
	color: #eb1f1e;
}

.ordering{
	font-family: 'Mystery Quest', cursive;
}

#nav li{
	background-color: #4b7648; /*--hunter green---*/
	padding: 2%;
	margin: 1%;
	display: inline;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;			
}

h1{
	background-color: #f687a8;
	width: 80%;
	font-family: 'Mystery Quest', cursive;
	font-weight: bold;
	height: 40px; 
	text-shadow: 2px 1px 1px #7f7d7c;
	color: black;
	padding: 1% 2%;
}

h2{
	font-family: 'Mystery Quest', cursive;
	font-weight: normal;
	color: #4b7648;
	padding: 1% 2%;
	overflow: hidden;
}
h3{
	font-family: 'Mystery Quest', cursive;
	font-weight: normal;
	color: #4b7648;
	padding: 1% 2%;
	overflow: hidden;
}

h4{
	font-family: 'Mystery Quest', cursive;
	font-weight: normal;
	color: #4b7648;
	padding: 1% 2%;
	overflow: hidden;
}

ul li{
	list-style-type: none;
	font-style: italic;
	color: #eb1f1e; /*--red--*/
				
}

.logo{
	width: 41.666666666667%;
	height: 234px;
	border: Dashed 3px #cce0e7;
	border-radius: 10px;
	margin: 2%;
	max-width: 100%;
	
}

p{
	font-family: 'News Cycle', sans-serif;
	color: #000000;
	padding: 1% 2%;	
}

ol li{
	color: #eb1f1e; /*--red--*/
	list-style-type: none;
	
}

a:link{
	color: #000000;
}

a:visited{
	color: #f687a8; /*--pink--*/
}

a:active{
	color: #eb1f1e; /*--red--*/
}

a:hover{
	color: #cce0e7; /*--lt blue--*/
}

a:focus{
	color: #4b7648; /*--hunter gr--*/
}


#main{
	background-color: #cce0e7; /*--lt blue--*/
	border-radius: 10px;
	width: 100%;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	padding: 1%;
 	
}

article{
	text-indent: 1%;
	background-color: #cce0e7; /*--lt blue--*/
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	padding: 1%;
 	-moz-column-count: 3;
	-moz-colum-gap: 0.3857142857148%;
	float: left;
	clear: right;
}

article h1{
	background-color: #f687a8; /*--pink--*/
	font-size: 1.125em;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
}

#Contact{
	text-indent: 1%;
	background-color: #cce0e7; /*--lt blue--*/
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	padding: 1%;
	float: left;
	clear: right;
	}

	
table{
	font-family: 'News Cycle', sans-serif;
	font-size: 1.000em;
}

td.head1 {
	background-color: #f59d55;  /*--orange---*/
	font-family: 'Mystery Quest', cursive;
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

td.head2 {
	background-color: #f59d55;  /*--orange---*/
	font-family: 'Mystery Quest', cursive;
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}
	
td.head3 {
	background-color: #f59d55;  /*--orange---*/
	font-family: 'Mystery Quest', cursive;
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

td.head4 {
	background-color: #f59d55;  /*--orange---*/
	font-family: 'Mystery Quest', cursive;
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

td{
	font-family: 'News Cycle', sans-serif;
	
}

td.input{
	width: 120px;
	text-align: right;
	vertical-align: baseline;
}

input textarea{
	margin-top: 8px;
}

section{
	background-color: #bdd259; /*--lime green--*/
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	padding: 1%;
}

section h3{
	padding: 1% 2%;
	
}


#article_title{
	background-color: #f687a8; /*--pink--*/
	text-align: center;
	font-family:
	padding: 1%;
	margin: 2%; 
	
	display: inline;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
}

.gallery div{
	background-color: #bdd259; /*--lime green--*/
	margin: 1.3%;
	padding: 1%;
	width: 13.333333333333%;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
	float: left;
	clear: none;
}

. gallery div.img {
  margin: 2%;
  display: inline;
  padding: 10%;
  border: 1% solid #4b7648; /*--hunter gr--*/
  height: 201px;
  width: 20.833333333333%;
  float: left;
  clear: right;
  text-align: center;
  }

div.img img{
  margin:2%;
  border:1% solid #e6d99a;
  float: center;
  clear: both;
  }
  
div.img a:hover img{
  border: 1% solid #f687a8; /*--pink--*/
  }
  
div.desc{
  text-align: center;
  font-size: .875em;
  width: 80%;
  margin: 1%;
  padding: 4% 2%;
  float: center;
  clear: both;
  overflow: auto;
  }

}
#sidebar ol li{
	background-color: #4b7648; /*--hunter gr--*/
	width: 44.444444444444%;
	padding: 4%;
	margin: 2%;
	display: inline;
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	float: left;
 	clear: right; 
}

#product_info{
	text-indent: 1%;
	background-color: #f687a8; /*--pink--*/
	border-radius: 10px;
	-mox-box-shadow: 2px 2px 2px #7f7d7c;
 	-webkit-box-shadow: 2px 2px 2px #7f7d7c;
 	box-shadow: 2px 2px 2px #7f7d7c;
 	margin: 1%;
 	padding: 1%;
 	overflow: auto;   /*--hidden, scroll--*/
 	float: right;
 	clear: both;
 	-moz-column-count: 3;
	-moz-colum-gap: 0.3857142857148%;	
}

#section table{
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}
	

table, h3{
	background-color: #f687a8; /*--pink--*/
	font-family: 'Mystery Quest', cursive;
	margin-top: 8px;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

caption{
	text-align: center;
}

.odd th, .odd td{
	background-color: #bdd259;
}
	
td{
	background-color: #f687a8; /*--pink--*/
	font-family: 'News Cycle', sans-serif;
}

th{
	text-align: center;
	background-color: #cce0e7; 
	
}

input:focus{
	background: #e6d99a;
}


#footer{
	float: left;
	clear: both;
}


/* =Media Queries
======================================*/
/*reset container to auto width*/
/*Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (mix-width: 768px)and (max-width: 959) {
	#wrapper{
		background-color: #cce0e7;
		width: auto;
		float: none;
	}
	#header{
		width: auto;
		float: none;
	}
	#nav li{
		width: auto;
		float: none;
	}
	#main{
		width: auto;
		float; none;
	}
	#sidebar{
		width: auto;
		float; none;
	}
	#product_info{
		width: auto;
		float; none;
	}
	#footer{
		width: auto;
		float; none;
	}
}

/*--for 480px or less--*/
/*Mobile Landscape Size to Tablet Portrait(devices and browsers)*/
@media only screen and (mix-width: 480px)and (max-width: 767){
	#wrapper{
		background-color: #bdd259;
	}
	#header{	
		height: auto;
	}
	h1{
	font-size: 24px;	
	}
	#sidebar{
	display: none;
	}
}

/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
@media screen and(max-width: 479) {
	#wrapper{
		background-color: #4b7648;
	}
	.gallery{
		display: none;
	}
}

/*--
.clearFix{
	clear: both;
}--*/
/*----Vendor Prefixes--
Microsoft:  -ms-
Mozilla:	-moz-
Webkit:		-web-
Opera:		-o-
Konqueror	-khtml-

---*/

